    {% extends "base.html" %}
    {% block body %}
    <div class="container">
        <div class="mt-5 card bg-light">
            <h1 class="my-4 mx-4 display-4 text-center">Welcome</h1>
            <div class="row my-4 mx-4">
                <div class="col">
                    <a href="" class="btn btn-success btn-block">Login</a>
                </div>
                <div class="col">
                    <a href="" class="btn btn-success btn-block">Register</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}